<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <a href="/dashboard/create">Create New Post</a>
    <h2>Posts</h2>
    {% for post in posts %}
        <div>
            <h3>{{ post.title }}</h3>
            <a href="/dashboard/edit/{{ post['_id'] }}">Edit</a>
            <form action="/dashboard/delete/{{ post['_id'] }}" method="post">
                <button type="submit">Delete</button>
            </form>
        </div>
    {% endfor %}
    <a href="/">Back to home</a>
</body>
</html>